<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>
<p>
  <strong> Patient:</strong>
  <% @specialist.appointments.each do |a|%>
      <%= a.patient.name %> <br/>
  <% end %>
</p>

<p>
  <strong> Appointment:</strong>
  <% @specialist.appointments.each do |a| %>
      <%= a.appointment_date %>
  <% end %>
</p>

<p>
  <strong> Remaining days:</strong>
  <% @specialist.appointments.each do |a| %>
      <%= ((a.appointment_date) - Date.today).to_i %>
  <% end %>
</p>




<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
