<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong> Specialist:</strong>
  <% @patient.appointments.each do |a|%>
      <%= a.specialist.name %> <br/>
  <% end %>
      </p>

<p>
  <strong> Appointment:</strong>
<% @patient.appointments.each do |a| %>
  <%= a.appointment_date %>
      <% end %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>

